body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.mb10 {
    margin-bottom: 10px;
}
.mb20 {
    margin-bottom: 20px;
}
.mb30 {
    margin-bottom: 30px;
}
.mb40 {
    margin-bottom: 40px;
}
.mb50 {
    margin-bottom: 50px;
}

.mt10 {
    margin-top: 10px;
}
.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr40 {
    margin-right: 40px;
}

.mr50 {
    margin-right: 50px;
}

.market:hover {
    background: #f5f5f5;
}

.hours-toggle.open .filter-hours {
    display: none;
}

.filters {
    text-align: center;
    margin: 40px 0px 60px 0px;
    font-size: 17px;
    word-spacing: 2px
}

.title {
    margin-top: 30px
}

.title h3 {
    font-weight: 600
}

.filters #openStatusSelect {
    border-radius: 5px;
    height: 30px
}

.filters #distanceSelect {
    border-radius: 5px;
    height: 30px
}

.filters #searchText {
    border-radius: 5px;
    padding-left: 5px
}

.filters #searchBtn {
    border-radius: 5px;
    height: 30px;
    background-color: #222;
    color: #efefef
}

#marketsDiv {
    height: 600px;
    overflow-y: scroll
}

#myMap {
    height: 600px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.selected {
    box-shadow: 1px 1px 1px 1px #aaa;
}

.cGry1 {
    color: #606060;
}

.cGry2 {
    color: #bbb;
}

.market {
    margin-bottom: 12px;
    border-bottom: 1px solid #ccc;
    padding: 5px 10px 0 8px;
    border-radius: 5px
}

.mb0 {
    margin-bottom: 0;
}

.mt3 {
    margin-top: 3px;
}

.fs24 {
    font-size: 24px;
}

.fltr {
    float: right;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px
}

.pt5 {
    padding-top: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pl5 {
    padding-left: 5px;
}

.bdr-top {
    border-top: 1px solid #ccc;
}

.hours-toggle {
    padding: 3px 5px 0 5px;
}