@using FanOfTheVan.Services.Models
@model IEnumerable<IMarket>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var market in Model)
    {
        <div class="market">
            <h2>@market.Name</h2>
            @Html.ActionLink("Edit", "Edit", "Home", new { marketId = market.MarketId})
        </div>
    }
    @{Html.RenderPartial("_NewMarket", new Market());}
</div>
